nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    padding: 0.5rem;
    background: transparent;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    transition: all 0.3 ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}
